<section class="bg-gray-900 text-white">
    <div class="mx-auto max-w-screen-xl px-4 pt-60 lg:flex lg:items-center">
        <div class="mx-auto max-w-3xl text-center">
            <h1
                class="via-pruple-500 inline-block bg-gradient-to-r from-blue-500 to-pink-500 bg-clip-text text-3xl font-extrabold text-transparent text-transparent sm:text-5xl"
            >
                <span class="text-white">EMPOWER YOUR INVESTMENTS<p>WITH</p></span> AI DRIVEN
                STRATEGIES
            </h1>
            <p class="mx-auto mt-4 max-w-xl text-3xl">
                Automate Your Investment Systems, Connect with Your Broker, and Boost Your Returns.
            </p>
            <p class="mx-auto mt-4 max-w-xl sm:text-xl/relaxed"></p>

            <div class="mt-8 flex flex-wrap justify-center gap-4">
                <a
                    class="block w-full rounded border border-blue-600 bg-blue-600 px-12 py-3 text-sm font-medium text-white hover:bg-transparent hover:text-white focus:outline-none focus:ring active:text-opacity-75 sm:w-auto"
                    href="#"
                >
                    Get Started
                </a>

                <a
                    class="block w-full rounded border border-blue-600 px-12 py-3 text-sm font-medium text-white hover:bg-blue-600 focus:outline-none focus:ring active:bg-blue-500 sm:w-auto"
                    href="#"
                >
                    Learn More
                </a>
            </div>
        </div>
    </div>
    <div class="wow fadeInUp relative z-10 mx-auto max-w-[845px]" data-wow-delay=".25s">
        <div class="mt-16">
            <img
                src="/assets/hero/hero-image2.png"
                alt="hero"
                class="mx-auto max-w-full rounded-t-xl rounded-tr-xl"
            />
        </div>
    </div>
</section>
